body, div {
  font-family: 'Karla', sans-serif;
}

.content {
  max-width: 960px;
  margin: auto;
  padding: 10px;
}

.header {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
}

.topic-box {
  text-align: center;
  color: #ffffff;
  height: 250px;
  margin: 20px;
}

.topic-box.add-new-box {
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.topic-box__timer {
  height: 180px;
  line-height: 180px;
  background: blue;
  font-size: 48px;
  position: relative;
}

.topic-box__play {
  background: url("white-play-button.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100px;
  width: 100px;
  z-index: 1;
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  top: 40px;
}

.topic-box__play:hover {
  opacity: 1;
}

.topic-box__timer:hover {
  color: transparent;
}

.topic-box__title {
  height: 65px;
  line-height: 65px;
  font-size: 24px;
  background-color: blue;
  margin-top: 5px;
  text-transform: uppercase;
}